body {
    background-color: #f0f0f0;
    color: #444;
}

canvas {
    position: fixed;
    height: 100%;
}

#palette {
    display: grid;
    width: max-content;
}

#dotBracket {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    overflow-x: auto;
    padding: 5px;
    white-space: nowrap;
    z-index: 1;
}

#strandCount {
    right: 0px;
    position: absolute;
    padding: 5px;
}

#info {
    position: fixed;
    z-index: 1;
}

.gui {
    background: #f0f0f0a9;
    width: max-content;
    padding: 5px;
}

input[type=number] {
    width: 2em;
}

label {
    padding: 5px;
}

#initprompt {
    font-size: 2em;
    top: 50%;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

#hoverInfo {
    background-color: #ffffffa4;
	position: absolute;
	text-align: center;
	z-index: 100;
	display:block;
}